In [1]:
import os
import pandas as pd
from sqlalchemy import create_engine
import numpy as np

In [2]:
from dotenv import load_dotenv
load_dotenv()

True

In [3]:
username = os.getenv('POSTGRES_USERNAME')
password = os.getenv('POSTGRES_PASSWORD')


postgres_connection_string = "postgres://{username}:{password}@{host}:{port}/{database}?gssencmode=disable".format(
    username=username,
    password=password,
    host="localhost",
    port="5432",
    database="lahman_baseball"
)

In [4]:
engine = create_engine(postgres_connection_string)

In [5]:
people_sql = "SELECT * FROM people;"
salaries_sql = "SELECT * FROM salaries;"
homegames_sql = "SELECT * FROM homegames;"
parks_sql = "SELECT * FROM parks;"
teams_sql = "SELECT * FROM teams;"

In [6]:
people_df = pd.read_sql(people_sql, con=engine)
salaries_df = pd.read_sql(salaries_sql, con=engine)
homegames_df = pd.read_sql(homegames_sql, con=engine)
parks_df = pd.read_sql(parks_sql, con=engine)
teams_df = pd.read_sql(teams_sql, con=engine)

In [24]:
salaries_df.loc[salaries_df['yearid'].idxmin()]

yearid           1985
teamid            ATL
lgid               NL
playerid    barkele01
salary         870000
Name: 0, dtype: object

In [18]:
people_df[people_df['namelast'] == 'Ryan']

,playerid,birthyear,birthmonth,birthday,birthcountry,birthstate,birthcity,deathyear,deathmonth,deathday,...,namelast,namegiven,weight,height,bats,throws,debut,finalgame,retroid,bbrefid
15021,ryanbj01,1975.0,12.0,28.0,USA,LA,Bossier City,NaN,NaN,NaN,...,Ryan,Robert Victor,230.0,78.0,L,L,1999-07-28,2009-07-05,ryanb001,ryanb.01
15022,ryanbl01,1906.0,1.0,4.0,USA,MA,Lynn,1959.0,11.0,28.0,...,Ryan,John Collins,178.0,73.0,R,R,1930-07-13,1938-07-31,ryanb101,ryanbl01
15023,ryanbr01,1982.0,3.0,26.0,USA,CA,Los Angeles,NaN,NaN,NaN,...,Ryan,Brendan Wood,190.0,73.0,R,R,2007-06-02,2016-06-14,ryanb002,ryanbr01
15024,ryanbu01,1885.0,10.0,6.0,USA,CO,Denver,1956.0,7.0,9.0,...,Ryan,John Budd,172.0,69.0,L,R,1912-04-11,1913-10-05,ryanb102,ryanbu01
15025,ryanco01,1920.0,2.0,27.0,USA,LA,New Orleans,1996.0,1.0,3.0,...,Ryan,Cornelius Joseph,175.0,71.0,R,R,1942-04-14,1954-04-19,ryanc102,ryanco01
15026,ryancy01,1866.0,NaN,NaN,Ireland,None,Capperwhite,1917.0,1.0,30.0,...,Ryan,Daniel R.,200.0,72.0,None,R,1887-08-08,1891-05-08,ryanc101,ryancy01
15027,ryandu01,1984.0,9.0,2.0,USA,CA,Merced,NaN,NaN,NaN,...,Ryan,Dusty Mitchell,235.0,76.0,R,R,2008-09-04,2009-09-15,ryand001,ryandu01
15028,ryanja01,1868.0,11.0,12.0,USA,MA,Haverhill,1952.0,8.0,21.0,...,Ryan,John Bernard,165.0,70.0,R,R,1889-09-02,1913-10-04,ryanj103,ryanja01
15029,ryanja02,1884.0,9.0,19.0,USA,IL,Lawrenceville,1949.0,10.0,16.0,...,Ryan,Jack,165.0,70.0,L,R,1908-07-02,1911-05-09,ryanj102,ryanja02
15030,ryanja03,1905.0,5.0,5.0,USA,KS,West Mineral,1967.0,9.0,2.0,...,Ryan,John Francis,185.0,72.0,R,R,1929-06-18,1929-06-19,ryanj104,ryanja03
15031,ryanja04,1976.0,1.0,21.0,USA,NJ,Long Branch,NaN,NaN,NaN,...,Ryan,Jason Paul,185.0,75.0,B,R,1999-08-24,2000-10-01,ryanj001,ryanja04
15032,ryanji01,1863.0,2.0,11.0,USA,MA,Clinton,1923.0,10.0,29.0,...,Ryan,James P.,162.0,69.0,R,L,1885-10-08,1903-09-24,ryanj105,ryanji01
15033,ryanjo01,1853.0,10.0,NaN,USA,PA,Philadelphia,1902.0,3.0,22.0,...,Ryan,John Joseph,150.0,67.0,None,None,1873-08-19,1877-07-12,ryanj106,ryanjo01
15034,ryanjo02,NaN,NaN,NaN,USA,MI,Birmingham,NaN,NaN,NaN,...,Ryan,John A.,NaN,NaN,L,R,1884-06-11,1884-08-27,ryanj101,ryanjo02
15037,ryanke01,1968.0,10.0,24.0,USA,RI,Pawtucket,NaN,NaN,NaN,...,Ryan,Kenneth Frederick,200.0,75.0,R,R,1992-08-31,1999-05-15,ryank001,ryanke01
15038,ryanky01,1991.0,9.0,25.0,USA,FL,Auburndale,NaN,NaN,NaN,...,Ryan,Kyle,215.0,77.0,L,L,2014-08-30,2016-10-01,ryank002,ryanky01
15039,ryanmi01,1868.0,6.0,7.0,USA,MO,St. Louis,1935.0,9.0,3.0,...,Ryan,Michael Patrick,NaN,NaN,None,None,1895-07-25,1895-07-27,ryanm102,ryanmi01
15040,ryanmi02,1941.0,11.0,25.0,USA,MA,Haverhill,NaN,NaN,NaN,...,Ryan,Michael James,205.0,74.0,R,R,1964-10-03,1974-09-10,ryanm101,ryanmi02
15041,ryanmi03,1977.0,7.0,6.0,USA,PA,Indiana,NaN,NaN,NaN,...,Ryan,Michael Sean,182.0,70.0,L,R,2002-09-20,2010-06-14,ryanm001,ryanmi03
15042,ryanno01,1947.0,1.0,31.0,USA,TX,Refugio,NaN,NaN,NaN,...,Ryan,Lynn Nolan,170.0,74.0,R,R,1966-09-11,1993-09-22,ryann001,ryanno01
15043,ryanro01,1898.0,3.0,15.0,USA,MA,Worcester,1980.0,12.0,10.0,...,Ryan,Wilfred Patrick Dolan,185.0,72.0,L,R,1919-09-07,1933-09-17,ryanr101,ryanro01
15044,ryanro02,1973.0,6.0,24.0,USA,MT,Havre,NaN,NaN,NaN,...,Ryan,Robert James,190.0,71.0,L,L,1999-08-20,2001-10-07,ryanr001,ryanro02

In [13]:
mcgwire_salary = salaries_df[salaries_df['playerid'] == 'mcgwima01']

In [15]:
bonds_salary = salaries_df[salaries_df['playerid'] == 'bondsba01']

In [17]:
griffey_salary = salaries_df[salaries_df['playerid'] == 'griffke02']

In [19]:
nryan_salary = salaries_df[salaries_df['playerid'] == 'ryanno01']

In [25]:
#teams_df[teams_df['teamid'] == 'BSN']

In [26]:
#teams_df[teams_df['name'] == 'New York Mets']

In [27]:
#homegames_df[homegames_df['team'] == 'BRO']

## Clean up the connection!

In [ ]:
#engine.dispose()