In [86]:
import os
import pandas as pd
from sqlalchemy import create_engine
import numpy as np

In [87]:
from dotenv import load_dotenv
load_dotenv()

True

In [88]:
username = os.getenv('POSTGRES_USERNAME')
password = os.getenv('POSTGRES_PASSWORD')


postgres_connection_string = "postgres://{username}:{password}@{host}:{port}/{database}?gssencmode=disable".format(
    username=username,
    password=password,
    host="localhost",
    port="5432",
    database="lahman_baseball"
)

In [89]:
engine = create_engine(postgres_connection_string)

In [106]:
people_sql = "SELECT * FROM people;"
salaries_sql = "SELECT * FROM salaries;"
homegames_sql = "SELECT * FROM homegames;"
parks_sql = "SELECT * FROM parks;"
teams_sql = "SELECT * FROM teams;"
batting_sql = "SELECT * FROM batting;"
fielding_sql = "SELECT * FROM fielding;"
pitching_sql = "SELECT * FROM pitching;"
awards_sql = "SELECT * FROM awardsplayers;"

In [107]:
people_df = pd.read_sql(people_sql, con=engine)
salaries_df = pd.read_sql(salaries_sql, con=engine)
homegames_df = pd.read_sql(homegames_sql, con=engine)
parks_df = pd.read_sql(parks_sql, con=engine)
teams_df = pd.read_sql(teams_sql, con=engine)
batting_df = pd.read_sql(batting_sql, con=engine)
fielding_df = pd.read_sql(fielding_sql, con=engine)
pitching_df = pd.read_sql(pitching_sql, con=engine)
awardsplayers_df = pd.read_sql(awards_sql, con=engine)

# Case 1, Jackie Robinson

#### When was Jackie Robinson signed to the Dodgers and broke the color barrier?

In [109]:
people_df['debut'][people_df['playerid'] == 'robinja02']

14632    1947-04-15
Name: debut, dtype: object

### ^^^Jackie Robinson made his debut in 1947
---

#### Let's see what awards he has won

In [108]:
awardsplayers_df[awardsplayers_df['playerid'] == 'robinja02']

       playerid                     awardid  yearid lgid   tie notes
1799  robinja02          Rookie of the Year    1947   ML  None  None
1836  robinja02  Baseball Magazine All-Star    1948   NL  None    2B
1878  robinja02  Baseball Magazine All-Star    1949   ML  None    2B
1890  robinja02  Baseball Magazine All-Star    1949   NL  None    2B
1901  robinja02        Most Valuable Player    1949   NL  None  None
1905  robinja02                TSN All-Star    1949   ML  None    2B
1944  robinja02  Baseball Magazine All-Star    1950   NL  None    2B
1959  robinja02                TSN All-Star    1950   ML  None    2B
1980  robinja02                TSN All-Star    1951   ML  None    2B
2001  robinja02                TSN All-Star    1952   ML  None    2B

### ^^^As it turns out, Jackie Robinson won Rookie of the Year in 1947
---

In [93]:
homegames_df.columns

Index(['year', 'league', 'team', 'park', 'span_first', 'span_last', 'games',
       'openings', 'attendance'],
      dtype='object')

In [94]:
dodgers_attendance_mask = (homegames_df['year'] >= 1937) & (homegames_df['year'] <= 1957) & (homegames_df['team'] == 'BRO')

In [95]:
dodgers_attendance = homegames_df.loc[dodgers_attendance_mask]

In [96]:
teams_df.columns

Index(['yearid', 'lgid', 'teamid', 'franchid', 'divid', 'rank', 'g', 'ghome',
       'w', 'l', 'divwin', 'wcwin', 'lgwin', 'wswin', 'r', 'ab', 'h', 'h2b',
       'h3b', 'hr', 'bb', 'so', 'sb', 'cs', 'hbp', 'sf', 'ra', 'er', 'era',
       'cg', 'sho', 'sv', 'ipouts', 'ha', 'hra', 'bba', 'soa', 'e', 'dp', 'fp',
       'name', 'park', 'attendance', 'bpf', 'ppf', 'teamidbr',
       'teamidlahman45', 'teamidretro'],
      dtype='object')

In [97]:
dodgers_teams_mask = (teams_df['yearid'] >= 1937) & (teams_df['yearid'] <= 1957) & (teams_df['teamid'] == 'BRO')

In [98]:
dodgers_teams = teams_df.loc[dodgers_teams_mask]

In [99]:
dodgers_teams.columns

Index(['yearid', 'lgid', 'teamid', 'franchid', 'divid', 'rank', 'g', 'ghome',
       'w', 'l', 'divwin', 'wcwin', 'lgwin', 'wswin', 'r', 'ab', 'h', 'h2b',
       'h3b', 'hr', 'bb', 'so', 'sb', 'cs', 'hbp', 'sf', 'ra', 'er', 'era',
       'cg', 'sho', 'sv', 'ipouts', 'ha', 'hra', 'bba', 'soa', 'e', 'dp', 'fp',
       'name', 'park', 'attendance', 'bpf', 'ppf', 'teamidbr',
       'teamidlahman45', 'teamidretro'],
      dtype='object')

In [100]:
dodgers_record = dodgers_teams[['yearid', 'rank', 'ghome', 'w', 'l', 'lgwin', 'wswin', 'attendance']]

In [104]:
dodgers_attendance[['year', 'attendance', 'games']]

      year  attendance  games
1101  1937      454551     76
1118  1938      728519     74
1136  1939     1048457     78
1153  1940      969439     81
1170  1941      975162     79
1187  1942      882336     79
1204  1943      692492     77
1221  1944      686971     77
1238  1945     1069629     78
1255  1946     1830974     79
1273  1947     1803795     78
1289  1948     1390842     78
1305  1949     1618120     78
1321  1950     1175019     78
1337  1951     1331080     78
1353  1952     1047718     80
1369  1953     1357497     78
1386  1954     1113352     77
1402  1955     1021489     77
1418  1956      148371      7
1419  1956     1088782     70
1435  1957      127390      8
1436  1957      922438     69

In [103]:
dodgers_record

      yearid  rank  ghome    w   l lgwin wswin  attendance
976     1937     6   76.0   62  91     N     N    482481.0
992     1938     7   74.0   69  80     N     N    663087.0
1008    1939     3   78.0   84  69     N     N    955668.0
1024    1940     2   81.0   88  65     N     N    975978.0
1040    1941     1   79.0  100  54     Y     N   1214910.0
1056    1942     2   79.0  104  50     N     N   1037765.0
1072    1943     3   77.0   81  72     N     N    661739.0
1088    1944     7   77.0   63  91     N     N    605905.0
1104    1945     3   78.0   87  67     N     N   1059220.0
1120    1946     2   79.0   96  60     N     N   1796824.0
1136    1947     1   78.0   94  60     Y     N   1807526.0
1152    1948     3   78.0   84  70     N     N   1398967.0
1168    1949     1   78.0   97  57     Y     N   1633747.0
1184    1950     2   78.0   89  65     N     N   1185896.0
1200    1951     2   78.0   97  60     N     N   1282628.0
1216    1952     1   80.0   96  57     Y     N   1088704.0
1232    1953     1   78.0  105  49     Y     N   1163419.0
1249    1954     2   77.0   92  62     N     N   1020531.0
1265    1955     1   77.0   98  55     Y     Y   1033589.0
1281    1956     1   77.0   93  61     Y     N   1213562.0
1297    1957     3   77.0   84  70     N     N   1028258.0

### How did he do in that first season?

In [8]:
batting_1947 = batting_df[batting_df['yearid'] == 1947]

In [9]:
jackie_robinson = batting_1947[batting_1947['playerid'] == 'robinja02']

### Let's look at how he performed compared to his teammates

In [12]:
dodgers_bat_1947 = batting_1947[batting_1947['teamid'] == 'BRO']

In [15]:
dodgers_bat_1947['slugging'] = (((dodgers_bat_1947['h']) + (2 * dodgers_bat_1947['h2b']) + (3 * dodgers_bat_1947['h3b']) + (4 * dodgers_bat_1947['hr'])) / (dodgers_bat_1947['ab'])).round(3)

<ipython-input-15-a919b715a22d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dodgers_bat_1947['slugging'] = (((dodgers_bat_1947['h']) + (2 * dodgers_bat_1947['h2b']) + (3 * dodgers_bat_1947['h3b']) + (4 * dodgers_bat_1947['hr'])) / (dodgers_bat_1947['ab'])).round(3)

In [17]:
dodgers_bat_1947.sort_values(by = 'slugging', ascending = False)

,playerid,yearid,stint,teamid,lgid,g,ab,r,h,h2b,...,sb,cs,bb,so,ibb,hbp,sh,sf,gidp,slugging
32748,bankhda01,1947,1,BRO,NL,6,4,2,1,0,...,0.0,NaN,0,1.0,NaN,1.0,0.0,NaN,0.0,1.250
33149,ramsdwi01,1947,1,BRO,NL,2,1,0,1,0,...,0.0,NaN,0,0.0,NaN,0.0,0.0,NaN,0.0,1.000
33079,meltoru01,1947,1,BRO,NL,4,1,0,1,0,...,0.0,NaN,0,0.0,NaN,0.0,0.0,NaN,0.0,1.000
33040,lunddo01,1947,1,BRO,NL,11,20,5,6,2,...,0.0,NaN,3,7.0,NaN,0.0,0.0,NaN,0.0,0.900
32941,higbeki01,1947,1,BRO,NL,4,5,0,1,1,...,0.0,NaN,0,1.0,NaN,0.0,0.0,NaN,0.0,0.600
32881,furilca01,1947,1,BRO,NL,124,437,61,129,24,...,7.0,NaN,34,24.0,NaN,1.0,4.0,NaN,17.0,0.526
33259,vaughar01,1947,1,BRO,NL,64,126,24,41,5,...,4.0,NaN,27,11.0,NaN,0.0,0.0,NaN,2.0,0.516
32938,hermage01,1947,1,BRO,NL,79,189,36,52,7,...,5.0,NaN,28,7.0,NaN,3.0,5.0,NaN,3.0,0.513
33151,reesepe01,1947,1,BRO,NL,142,476,81,135,24,...,7.0,NaN,104,67.0,NaN,2.0,8.0,NaN,7.0,0.511
33270,walkedi02,1947,1,BRO,NL,148,529,77,162,31,...,6.0,NaN,97,26.0,NaN,1.0,10.0,NaN,9.0,0.509
33167,robinja02,1947,1,BRO,NL,151,590,125,175,31,...,29.0,NaN,74,36.0,NaN,9.0,28.0,NaN,5.0,0.508
32973,jorgesp01,1947,1,BRO,NL,129,441,57,121,29,...,4.0,NaN,58,45.0,NaN,1.0,6.0,NaN,5.0,0.506
33152,reisepe01,1947,1,BRO,NL,110,388,68,120,23,...,14.0,NaN,68,41.0,NaN,2.0,4.0,NaN,3.0,0.495
32851,edwarbr01,1947,1,BRO,NL,130,471,53,139,15,...,2.0,NaN,49,55.0,NaN,2.0,6.0,NaN,10.0,0.486
33085,miksied01,1947,1,BRO,NL,45,86,18,23,1,...,0.0,NaN,9,8.0,NaN,0.0,0.0,NaN,2.0,0.477
33016,lavagco01,1947,1,BRO,NL,41,69,6,18,1,...,0.0,NaN,12,5.0,NaN,0.0,1.0,NaN,1.0,0.464
33286,whitmdi01,1947,1,BRO,NL,4,10,1,4,0,...,0.0,NaN,1,0.0,NaN,0.0,1.0,NaN,0.0,0.400
33221,stanked01,1947,1,BRO,NL,146,559,97,141,24,...,3.0,NaN,103,39.0,NaN,5.0,12.0,NaN,7.0,0.386
33215,snidedu01,1947,1,BRO,NL,40,83,6,20,3,...,2.0,NaN,3,24.0,NaN,1.0,2.0,NaN,0.0,0.349
32944,hodgegi01,1947,1,BRO,NL,28,77,9,12,3,...,0.0,NaN,14,19.0,NaN,0.0,0.0,NaN,3.0,0.325
32901,greggha01,1947,1,BRO,NL,37,34,3,9,1,...,0.0,NaN,1,8.0,NaN,0.0,0.0,NaN,1.0,0.324
32762,behrmha01,1947,3,BRO,NL,38,26,1,6,1,...,0.0,NaN,1,9.0,NaN,0.0,4.0,NaN,0.0,0.308
33227,steveed01,1947,1,BRO,NL,5,13,0,2,1,...,0.0,NaN,1,5.0,NaN,0.0,0.0,NaN,0.0,0.308
32778,bragabo01,1947,1,BRO,NL,25,36,3,7,2,...,1.0,NaN,7,3.0,NaN,0.0,0.0,NaN,0.0,0.306
33034,lombavi01,1947,1,BRO,NL,36,66,1,16,2,...,0.0,NaN,1,4.0,NaN,0.0,1.0,NaN,2.0,0.303
33169,rojekst01,1947,1,BRO,NL,32,80,7,21,0,...,1.0,NaN,7,3.0,NaN,0.0,1.0,NaN,3.0,0.300
32784,brownto02,1947,1,BRO,NL,15,34,3,8,1,...,0.0,NaN,1,6.0,NaN,0.0,0.0,NaN,1.0,0.294
32894,gionfal01,1947,2,BRO,NL,37,62,10,11,2,...,2.0,NaN,16,11.0,NaN,0.0,4.0,NaN,1.0,0.290
32925,hattejo01,1947,1,BRO,NL,42,83,3,17,2,...,1.0,NaN,2,16.0,NaN,0.0,3.0,NaN,1.0,0.253
33240,tayloha03,1947,1,BRO,NL,33,62,3,8,2,...,0.0,NaN,0,15.0,NaN,1.0,2.0,NaN,0.0,0.242
33146,racklma01,1947,1,BRO,NL,18,9,2,2,0,...,0.0,NaN,1,0.0,NaN,0.0,0.0,NaN,0.0,0.222
32988,kingcl01,1947,1,BRO,NL,29,26,1,3,1,...,0.0,NaN,1,12.0,NaN,0.0,1.0,NaN,0.0,0.192
32750,barnere02,1947,1,BRO,NL,28,27,3,3,1,...,0.0,NaN,0,12.0,NaN,0.0,0.0,NaN,1.0,0.185
32779,brancra01,1947,1,BRO,NL,43,97,8,12,1,...,0.0,NaN,7,34.0,NaN,0.0,9.0,NaN,2.0,0.144
32799,caseyhu01,1947,1,BRO,NL,46,18,0,1,0,...,0.0,NaN,1,2.0,NaN,0.0,2.0,NaN,0.0,0.056
33194,schulho01,1947,1,BRO,NL,2,1,0,0,0,...,0.0,NaN,0,0.0,NaN,0.0,0.0,NaN,1.0,0.000
33238,tatumto01,1947,1,BRO,NL,4,6,0,0,0,...,0.0,NaN,0,1.0,NaN,0.0,0.0,NaN,0.0,0.000
32802,chanded01,1947,1,BRO,NL,15,2,0,0,0,...,0.0,NaN,1,1.0,NaN,0.0,1.0,NaN,0.0,0.000
32842,dockige01,1947,1,BRO,NL,4,1,0,0,0,...,0.0,NaN,0,1.0,NaN,0.0,0.0,NaN,0.0,0.000
32749,bantaja01,1947,1,BRO,NL,3,2,0,0,0,...,0.0,NaN,0,1.0,NaN,0.0,0.0,NaN,0.0,0.000
32927,haugsph01,1947,1,BRO,NL,6,2,0,0,0,...,0.0,NaN,0,1.0,NaN,0.0,0.0,NaN,0.0,0.000
32760,behrmha01,1947,1,BRO,NL,2,0,0,0,0,...,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
33120,palicer01,1947,1,BRO,NL,3,0,0,0,0,...,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
33257,vancujo01,1947,1,BRO,NL,2,0,0,0,0,...,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,NaN

In [134]:
((jackie_robinson['h']) + (2 * jackie_robinson['h2b']) + (3 * jackie_robinson['h3b']) + (4 * jackie_robinson['hr'])) / (jackie_robinson['ab'])

33167    0.508475
dtype: float64

In [112]:
#use this to determine the earliest year sacrifice flies were recorded
#sf_recording_begins = batting_df[['yearid', 'sf']]
#sf_recording_begins = sf_recording_begins.dropna()
#sf_recording_begins.loc[(sf_recording_begins.sf >= 1)].sort_values(by = 'yearid')

In [103]:
#this is a good way to see 
#sf_recording_begins = batting_df.loc[(batting_df.sf > 0)]
#sf_recording_begins

### Accolades? (Hall of Fame, All Star)

In [9]:
mcgwire_salary = salaries_df[salaries_df['playerid'] == 'mcgwima01']

In [10]:
bonds_salary = salaries_df[salaries_df['playerid'] == 'bondsba01']

In [11]:
griffey_salary = salaries_df[salaries_df['playerid'] == 'griffke02']

In [12]:
nryan_salary = salaries_df[salaries_df['playerid'] == 'ryanno01']

In [13]:
#teams_df[teams_df['teamid'] == 'BSN']

In [14]:
#teams_df[teams_df['name'] == 'Chicago White Sox']

In [15]:
#homegames_df[homegames_df['year'] == 1918]

---
### Let's look at our first example, Jackie Robinson

In [87]:
bk_dodgers_homegames = homegames_df[homegames_df['team'] == 'BRO']

In [126]:
jackie_robinson_id = people_df[people_df['playerid'] == 'robinja02']

In [138]:
bk_dodgers_teams = teams_df[(teams_df['teamid'] == 'BRO') & (teams_df['name'] == 'Brooklyn Dodgers')]

In [143]:
bk_dodgers_teams['lgwin'].value_counts()

N    21
Y     7
Name: lgwin, dtype: int64

In [144]:
bk_dodgers_teams['wswin'].value_counts()

N    27
Y     1
Name: wswin, dtype: int64

In [66]:
sf_giants_homegames = homegames_df[homegames_df['team'] == 'SFN']

In [67]:
sf_giants_homegames['attendance'].mean().round(2)

1895639.36

In [68]:
sf_giants_homegames['mean_diff'] = sf_giants_homegames['attendance'] - 1895639.36

<ipython-input-68-f96fa147afb2>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sf_giants_homegames['mean_diff'] = sf_giants_homegames['attendance'] - 1895639.36

In [72]:
np.sqrt((sf_giants_homegames['mean_diff']**2).mean()).round(2)

947710.38

In [80]:
sf_giants_homegames.head()

,year,league,team,park,span_first,span_last,games,openings,attendance,mean_diff
1463,1958,NL,SFN,SFO01,1958-04-15,1958-09-28,77,75,1272857,-622782.36
1479,1959,NL,SFN,SFO01,1959-04-14,1959-09-20,77,77,1421630,-474009.36
1495,1960,NL,SFN,SFO02,1960-04-12,1960-10-02,77,76,1796356,-99283.36
1513,1961,NL,SFN,SFO02,1961-04-11,1961-09-20,77,74,1391251,-504388.36
1533,1962,NL,SFN,SFO02,1962-04-10,1962-10-01,82,77,1590136,-305503.36

In [57]:
#np.sqrt((sf_giants_homegames['attendance']**2).mean())

## Clean up the connection!

In [23]:
#engine.dispose()