In [79]:
import os
import pandas as pd
from sqlalchemy import create_engine
import numpy as np

In [2]:
from dotenv import load_dotenv
load_dotenv()

True

In [3]:
username = os.getenv('POSTGRES_USERNAME')
password = os.getenv('POSTGRES_PASSWORD')


postgres_connection_string = "postgres://{username}:{password}@{host}:{port}/{database}?gssencmode=disable".format(
    username=username,
    password=password,
    host="localhost",
    port="5432",
    database="lahman_baseball"
)

In [4]:
engine = create_engine(postgres_connection_string)

In [5]:
people_sql = "SELECT * FROM people;"
salaries_sql = "SELECT * FROM salaries;"
homegames_sql = "SELECT * FROM homegames;"
parks_sql = "SELECT * FROM parks;"
teams_sql = "SELECT * FROM teams;"

In [6]:
people_df = pd.read_sql(people_sql, con=engine)
salaries_df = pd.read_sql(salaries_sql, con=engine)
homegames_df = pd.read_sql(homegames_sql, con=engine)
parks_df = pd.read_sql(parks_sql, con=engine)
teams_df = pd.read_sql(teams_sql, con=engine)

In [7]:
salaries_df.loc[salaries_df['yearid'].idxmin()]

yearid           1985
teamid            ATL
lgid               NL
playerid    barkele01
salary         870000
Name: 0, dtype: object

In [128]:
#people_df[people_df['namelast'] == 'Ryan']

In [9]:
mcgwire_salary = salaries_df[salaries_df['playerid'] == 'mcgwima01']

In [10]:
bonds_salary = salaries_df[salaries_df['playerid'] == 'bondsba01']

In [11]:
griffey_salary = salaries_df[salaries_df['playerid'] == 'griffke02']

In [12]:
nryan_salary = salaries_df[salaries_df['playerid'] == 'ryanno01']

In [13]:
#teams_df[teams_df['teamid'] == 'BSN']

In [14]:
#teams_df[teams_df['name'] == 'Chicago White Sox']

In [15]:
#homegames_df[homegames_df['year'] == 1918]

---
### Let's look at our first example, Jackie Robinson

In [86]:
bk_dodgers_teams = teams_df[teams_df['teamid'] == 'BRO']

In [87]:
bk_dodgers_homegames = homegames_df[homegames_df['team'] == 'BRO']

In [100]:
people_df.columns

Index(['playerid', 'birthyear', 'birthmonth', 'birthday', 'birthcountry',
       'birthstate', 'birthcity', 'deathyear', 'deathmonth', 'deathday',
       'deathcountry', 'deathstate', 'deathcity', 'namefirst', 'namelast',
       'namegiven', 'weight', 'height', 'bats', 'throws', 'debut', 'finalgame',
       'retroid', 'bbrefid'],
      dtype='object')

In [126]:
jackie_robinson_id = people_df[people_df['playerid'] == 'robinja02']

In [130]:
jackie_robinson_id

,playerid,birthyear,birthmonth,birthday,birthcountry,birthstate,birthcity,deathyear,deathmonth,deathday,...,namelast,namegiven,weight,height,bats,throws,debut,finalgame,retroid,bbrefid
14632,robinja02,1919.0,1.0,31.0,USA,GA,Cairo,1972.0,10.0,24.0,...,Robinson,Jack Roosevelt,195.0,71.0,R,R,1947-04-15,1956-09-30,robij103,robinja02

In [137]:
teams_df.columns

Index(['yearid', 'lgid', 'teamid', 'franchid', 'divid', 'rank', 'g', 'ghome',
       'w', 'l', 'divwin', 'wcwin', 'lgwin', 'wswin', 'r', 'ab', 'h', 'h2b',
       'h3b', 'hr', 'bb', 'so', 'sb', 'cs', 'hbp', 'sf', 'ra', 'er', 'era',
       'cg', 'sho', 'sv', 'ipouts', 'ha', 'hra', 'bba', 'soa', 'e', 'dp', 'fp',
       'name', 'park', 'attendance', 'bpf', 'ppf', 'teamidbr',
       'teamidlahman45', 'teamidretro'],
      dtype='object')

In [136]:
teams_df[(teams_df['teamid'] == 'BRO') & (teams_df['name'] == 'Brooklyn Dodgers')]

,yearid,lgid,teamid,franchid,divid,rank,g,ghome,w,l,...,dp,fp,name,park,attendance,bpf,ppf,teamidbr,teamidlahman45,teamidretro
544,1911,NL,BRO,LAD,None,7,154,74.0,64,86,...,112.0,0.962,Brooklyn Dodgers,Washington Park III,269000.0,96,98,BRO,BRO,BRO
560,1912,NL,BRO,LAD,None,7,153,76.0,58,95,...,96.0,0.959,Brooklyn Dodgers,Washington Park III,243000.0,96,98,BRO,BRO,BRO
896,1932,NL,BRO,LAD,None,3,154,78.0,81,73,...,169.0,0.971,Brooklyn Dodgers,Ebbets Field,681827.0,98,98,BRO,BRO,BRO
912,1933,NL,BRO,LAD,None,6,157,80.0,65,88,...,120.0,0.971,Brooklyn Dodgers,Ebbets Field,526815.0,96,96,BRO,BRO,BRO
928,1934,NL,BRO,LAD,None,6,153,77.0,71,81,...,141.0,0.970,Brooklyn Dodgers,Ebbets Field,434188.0,95,96,BRO,BRO,BRO
944,1935,NL,BRO,LAD,None,5,154,77.0,70,83,...,146.0,0.969,Brooklyn Dodgers,Ebbets Field,470517.0,98,99,BRO,BRO,BRO
960,1936,NL,BRO,LAD,None,7,156,79.0,67,87,...,107.0,0.967,Brooklyn Dodgers,Ebbets Field,489618.0,101,103,BRO,BRO,BRO
976,1937,NL,BRO,LAD,None,6,155,76.0,62,91,...,127.0,0.964,Brooklyn Dodgers,Ebbets Field,482481.0,102,104,BRO,BRO,BRO
992,1938,NL,BRO,LAD,None,7,151,74.0,69,80,...,148.0,0.973,Brooklyn Dodgers,Ebbets Field,663087.0,103,104,BRO,BRO,BRO
1008,1939,NL,BRO,LAD,None,3,157,78.0,84,69,...,157.0,0.972,Brooklyn Dodgers,Ebbets Field,955668.0,105,104,BRO,BRO,BRO
1024,1940,NL,BRO,LAD,None,2,156,81.0,88,65,...,110.0,0.970,Brooklyn Dodgers,Ebbets Field,975978.0,108,105,BRO,BRO,BRO
1040,1941,NL,BRO,LAD,None,1,157,79.0,100,54,...,125.0,0.974,Brooklyn Dodgers,Ebbets Field,1214910.0,106,102,BRO,BRO,BRO
1056,1942,NL,BRO,LAD,None,2,155,79.0,104,50,...,150.0,0.977,Brooklyn Dodgers,Ebbets Field,1037765.0,103,99,BRO,BRO,BRO
1072,1943,NL,BRO,LAD,None,3,153,77.0,81,72,...,137.0,0.972,Brooklyn Dodgers,Ebbets Field,661739.0,101,100,BRO,BRO,BRO
1088,1944,NL,BRO,LAD,None,7,155,77.0,63,91,...,112.0,0.966,Brooklyn Dodgers,Ebbets Field,605905.0,98,98,BRO,BRO,BRO
1104,1945,NL,BRO,LAD,None,3,155,78.0,87,67,...,144.0,0.962,Brooklyn Dodgers,Ebbets Field,1059220.0,99,99,BRO,BRO,BRO
1120,1946,NL,BRO,LAD,None,2,157,79.0,96,60,...,154.0,0.972,Brooklyn Dodgers,Ebbets Field,1796824.0,101,99,BRO,BRO,BRO
1136,1947,NL,BRO,LAD,None,1,155,78.0,94,60,...,164.0,0.978,Brooklyn Dodgers,Ebbets Field,1807526.0,104,101,BRO,BRO,BRO
1152,1948,NL,BRO,LAD,None,3,155,78.0,84,70,...,151.0,0.973,Brooklyn Dodgers,Ebbets Field,1398967.0,104,101,BRO,BRO,BRO
1168,1949,NL,BRO,LAD,None,1,156,78.0,97,57,...,162.0,0.979,Brooklyn Dodgers,Ebbets Field,1633747.0,105,102,BRO,BRO,BRO
1184,1950,NL,BRO,LAD,None,2,155,78.0,89,65,...,183.0,0.979,Brooklyn Dodgers,Ebbets Field,1185896.0,103,99,BRO,BRO,BRO
1200,1951,NL,BRO,LAD,None,2,158,78.0,97,60,...,192.0,0.979,Brooklyn Dodgers,Ebbets Field,1282628.0,102,99,BRO,BRO,BRO
1216,1952,NL,BRO,LAD,None,1,155,80.0,96,57,...,169.0,0.982,Brooklyn Dodgers,Ebbets Field,1088704.0,102,98,BRO,BRO,BRO
1232,1953,NL,BRO,LAD,None,1,155,78.0,105,49,...,161.0,0.980,Brooklyn Dodgers,Ebbets Field,1163419.0,103,100,BRO,BRO,BRO
1249,1954,NL,BRO,LAD,None,2,154,77.0,92,62,...,138.0,0.978,Brooklyn Dodgers,Ebbets Field,1020531.0,104,101,BRO,BRO,BRO
1265,1955,NL,BRO,LAD,None,1,154,77.0,98,55,...,156.0,0.978,Brooklyn Dodgers,Ebbets Field,1033589.0,104,101,BRO,BRO,BRO
1281,1956,NL,BRO,LAD,None,1,154,77.0,93,61,...,149.0,0.981,Brooklyn Dodgers,Ebbets Field,1213562.0,109,107,BRO,BRO,BRO
1297,1957,NL,BRO,LAD,None,3,154,77.0,84,70,...,136.0,0.979,Brooklyn Dodgers,Ebbets Field,1028258.0,109,107,BRO,BRO,BRO

In [66]:
sf_giants_homegames = homegames_df[homegames_df['team'] == 'SFN']

In [67]:
sf_giants_homegames['attendance'].mean().round(2)

1895639.36

In [68]:
sf_giants_homegames['mean_diff'] = sf_giants_homegames['attendance'] - 1895639.36

<ipython-input-68-f96fa147afb2>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sf_giants_homegames['mean_diff'] = sf_giants_homegames['attendance'] - 1895639.36

In [72]:
np.sqrt((sf_giants_homegames['mean_diff']**2).mean()).round(2)

947710.38

In [80]:
sf_giants_homegames.head()

,year,league,team,park,span_first,span_last,games,openings,attendance,mean_diff
1463,1958,NL,SFN,SFO01,1958-04-15,1958-09-28,77,75,1272857,-622782.36
1479,1959,NL,SFN,SFO01,1959-04-14,1959-09-20,77,77,1421630,-474009.36
1495,1960,NL,SFN,SFO02,1960-04-12,1960-10-02,77,76,1796356,-99283.36
1513,1961,NL,SFN,SFO02,1961-04-11,1961-09-20,77,74,1391251,-504388.36
1533,1962,NL,SFN,SFO02,1962-04-10,1962-10-01,82,77,1590136,-305503.36

In [57]:
#np.sqrt((sf_giants_homegames['attendance']**2).mean())

## Clean up the connection!

In [23]:
#engine.dispose()