In [1]:
import os
import pandas as pd
from sqlalchemy import create_engine
import numpy as np

In [2]:
from dotenv import load_dotenv
load_dotenv()

True

In [3]:
username = os.getenv('POSTGRES_USERNAME')
password = os.getenv('POSTGRES_PASSWORD')


postgres_connection_string = "postgres://{username}:{password}@{host}:{port}/{database}?gssencmode=disable".format(
    username=username,
    password=password,
    host="localhost",
    port="5432",
    database="lahman_baseball"
)

In [4]:
engine = create_engine(postgres_connection_string)

In [5]:
people_sql = "SELECT * FROM people;"
salaries_sql = "SELECT * FROM salaries;"
homegames_sql = "SELECT * FROM homegames;"
parks_sql = "SELECT * FROM parks;"
teams_sql = "SELECT * FROM teams;"
batting_sql = "SELECT * FROM batting;"
fielding_sql = "SELECT * FROM fielding;"
pitching_sql = "SELECT * FROM pitching;"
awards_sql = "SELECT * FROM awardsplayers;"
appearances_sql = "SELECT * FROM appearances;"

In [6]:
people_df = pd.read_sql(people_sql, con=engine)
salaries_df = pd.read_sql(salaries_sql, con=engine)
homegames_df = pd.read_sql(homegames_sql, con=engine)
parks_df = pd.read_sql(parks_sql, con=engine)
teams_df = pd.read_sql(teams_sql, con=engine)
batting_df = pd.read_sql(batting_sql, con=engine)
fielding_df = pd.read_sql(fielding_sql, con=engine)
pitching_df = pd.read_sql(pitching_sql, con=engine)
awardsplayers_df = pd.read_sql(awards_sql, con=engine)
appearances_df = pd.read_sql(appearances_sql, con=engine)

## Find the percentage of increase during the rise and fall of attendance throughout the years
---
#### Years during Spanish Flu, World War I
#### The Great Depression
#### World War II
#### The Korean War
#### Player Strikes (1981, 1994-95)
#### Record year (2007)
---

### Spanish Flu 1918-1920 & World War I

In [91]:
spanish_flu_ww1 = teams_df.loc[(teams_df['yearid'] >= 1914) & (teams_df['yearid'] <= 1925)]

In [92]:
pct_chg_spanish_flu_ww1 = spanish_flu_ww1.groupby(['yearid'])['attendance'].sum().to_frame().reset_index()

In [93]:
pct_chg_spanish_flu_ww1['pct_change'] = ((pct_chg_spanish_flu_ww1['attendance'].pct_change()) * 100).round(2)

### The Great Depression

In [61]:
great_depression = teams_df.loc[(teams_df['yearid'] >= 1925) & (teams_df['yearid'] <= 1935)]

In [62]:
pct_chg_great_depression = great_depression.groupby(['yearid'])['attendance'].sum().to_frame().reset_index()

In [63]:
pct_chg_great_depression['pct_change'] = ((pct_chg_great_depression['attendance'].pct_change()) * 100).round(2)

### World War II

In [65]:
world_war_2 = teams_df.loc[(teams_df['yearid'] >= 1935) & (teams_df['yearid'] <= 1950)]

In [66]:
pct_chg_world_war_2 = world_war_2.groupby(['yearid'])['attendance'].sum().to_frame().reset_index()

In [67]:
pct_chg_world_war_2['pct_change'] = ((pct_chg_world_war_2['attendance'].pct_change()) * 100).round(2)

### The Korean War

In [73]:
korean_war = teams_df.loc[(teams_df['yearid'] >= 1945) & (teams_df['yearid'] <= 1955)]

In [74]:
pct_chg_korean_war = korean_war.groupby(['yearid'])['attendance'].sum().to_frame().reset_index()

In [75]:
pct_chg_korean_war['pct_change'] = ((pct_chg_korean_war['attendance'].pct_change()) * 100).round(2)

### Strike (1981)

In [78]:
strike_1981 = teams_df.loc[(teams_df['yearid'] >= 1971) & (teams_df['yearid'] <= 1985)]

In [79]:
pct_chg_strike_1981 = strike_1981.groupby(['yearid'])['attendance'].sum().to_frame().reset_index()

In [80]:
pct_chg_strike_1981['pct_change'] = ((pct_chg_strike_1981['attendance'].pct_change()) * 100).round(2)

### Strike (1994-95)

In [82]:
strike_1994 = teams_df.loc[(teams_df['yearid'] >= 1990) & (teams_df['yearid'] <= 2000)]

In [83]:
pct_chg_strike_1994 = strike_1994.groupby(['yearid'])['attendance'].sum().to_frame().reset_index()

In [84]:
pct_chg_strike_1994['pct_change'] = ((pct_chg_strike_1994['attendance'].pct_change()) * 100).round(2)

### Record Year (2007)

In [87]:
record_attendance = teams_df.loc[(teams_df['yearid'] >= 2000) & (teams_df['yearid'] <= 2020)]

In [88]:
pct_chg_record_attendance = record_attendance.groupby(['yearid'])['attendance'].sum().to_frame().reset_index()

In [89]:
pct_chg_record_attendance['pct_change'] = ((pct_chg_record_attendance['attendance'].pct_change()) * 100).round(2)

### Babe Ruth

In [10]:
babe_ruth = list(people_df['playerid'][people_df['namelast'] == 'Ruth'])

In [11]:
appearances_df.query('playerid in @babe_ruth').head()

,yearid,teamid,lgid,playerid,g_all,gs,g_batting,g_defense,g_p,g_c,...,g_2b,g_3b,g_ss,g_lf,g_cf,g_rf,g_of,g_dh,g_ph,g_pr
15028,1914,BOS,AL,ruthba01,5,3.0,5,4,4,0,...,0,0,0,0,0,0,0,0.0,0.0,0.0
15813,1915,BOS,AL,ruthba01,42,28.0,42,32,32,0,...,0,0,0,0,0,0,0,0.0,11.0,0.0
16432,1916,BOS,AL,ruthba01,68,40.0,68,44,44,0,...,0,0,0,0,0,0,0,0.0,24.0,0.0
16953,1917,BOS,AL,ruthba01,52,38.0,52,41,41,0,...,0,0,0,0,0,0,0,0.0,11.0,0.0
17467,1918,BOS,AL,ruthba01,95,89.0,95,91,20,0,...,0,0,0,47,12,0,59,0.0,4.0,0.0

In [46]:
ruth_homerun_mask = (batting_df['playerid'] == 'ruthba01') & (batting_df['hr'].max())

In [57]:
home_run_leaders = batting_df.sort_values(by = ['hr', 'yearid', 'playerid'], ascending = False)

In [60]:
home_run_leaders = home_run_leaders.drop(columns = ['stint', 'lgid', 'g', 'ab', 'r', 'h',
       'h2b', 'h3b', 'rbi', 'sb', 'cs', 'bb', 'so', 'ibb', 'hbp', 'sh',
       'sf', 'gidp'])

### Jackie Robinson

#### When was Jackie Robinson signed to the Dodgers and broke the color barrier?

In [7]:
people_df['debut'][people_df['playerid'] == 'robinja02']

14632    1947-04-15
Name: debut, dtype: object

### ^^^Jackie Robinson made his debut in 1947
---

#### Let's see what awards he has won

In [108]:
awardsplayers_df[awardsplayers_df['playerid'] == 'robinja02']

       playerid                     awardid  yearid lgid   tie notes
1799  robinja02          Rookie of the Year    1947   ML  None  None
1836  robinja02  Baseball Magazine All-Star    1948   NL  None    2B
1878  robinja02  Baseball Magazine All-Star    1949   ML  None    2B
1890  robinja02  Baseball Magazine All-Star    1949   NL  None    2B
1901  robinja02        Most Valuable Player    1949   NL  None  None
1905  robinja02                TSN All-Star    1949   ML  None    2B
1944  robinja02  Baseball Magazine All-Star    1950   NL  None    2B
1959  robinja02                TSN All-Star    1950   ML  None    2B
1980  robinja02                TSN All-Star    1951   ML  None    2B
2001  robinja02                TSN All-Star    1952   ML  None    2B

### ^^^As it turns out, Jackie Robinson won Rookie of the Year in 1947
---

In [19]:
teams_df['teamid'][teams_df['name'] == 'New York Yankees'].value_counts()

NYA    104
Name: teamid, dtype: int64

In [12]:
dodgers_attendance_mask = (homegames_df['year'] >= 1937) & (homegames_df['year'] <= 1957) & (homegames_df['team'] == 'BRO')

In [13]:
dodgers_attendance = homegames_df.loc[dodgers_attendance_mask]

In [97]:
dodgers_teams_mask = (teams_df['yearid'] >= 1937) & (teams_df['yearid'] <= 1957) & (teams_df['teamid'] == 'BRO')

In [98]:
dodgers_teams = teams_df.loc[dodgers_teams_mask]

In [100]:
dodgers_record = dodgers_teams[['yearid', 'rank', 'ghome', 'w', 'l', 'lgwin', 'wswin', 'attendance']]

In [15]:
dodgers_attendance[['year', 'attendance', 'games']].head()

      year  attendance  games
1101  1937      454551     76
1118  1938      728519     74
1136  1939     1048457     78
1153  1940      969439     81
1170  1941      975162     79

In [18]:
batting_1947 = batting_df[batting_df['yearid'] == 1947]

In [9]:
jackie_robinson = batting_1947[batting_1947['playerid'] == 'robinja02']

### Let's look at how he performed compared to his teammates

In [19]:
dodgers_bat_1947 = batting_1947[batting_1947['teamid'] == 'BRO']

In [20]:
dodgers_bat_1947['slugging'] = (((dodgers_bat_1947['h']) + (2 * dodgers_bat_1947['h2b']) + (3 * dodgers_bat_1947['h3b']) + (4 * dodgers_bat_1947['hr'])) / (dodgers_bat_1947['ab'])).round(3)

<ipython-input-20-a919b715a22d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dodgers_bat_1947['slugging'] = (((dodgers_bat_1947['h']) + (2 * dodgers_bat_1947['h2b']) + (3 * dodgers_bat_1947['h3b']) + (4 * dodgers_bat_1947['hr'])) / (dodgers_bat_1947['ab'])).round(3)

In [21]:
dodgers_bat_1947.sort_values(by = 'slugging', ascending = False).head()

,playerid,yearid,stint,teamid,lgid,g,ab,r,h,h2b,...,sb,cs,bb,so,ibb,hbp,sh,sf,gidp,slugging
32748,bankhda01,1947,1,BRO,NL,6,4,2,1,0,...,0.0,NaN,0,1.0,NaN,1.0,0.0,NaN,0.0,1.25
33149,ramsdwi01,1947,1,BRO,NL,2,1,0,1,0,...,0.0,NaN,0,0.0,NaN,0.0,0.0,NaN,0.0,1.00
33079,meltoru01,1947,1,BRO,NL,4,1,0,1,0,...,0.0,NaN,0,0.0,NaN,0.0,0.0,NaN,0.0,1.00
33040,lunddo01,1947,1,BRO,NL,11,20,5,6,2,...,0.0,NaN,3,7.0,NaN,0.0,0.0,NaN,0.0,0.90
32941,higbeki01,1947,1,BRO,NL,4,5,0,1,1,...,0.0,NaN,0,1.0,NaN,0.0,0.0,NaN,0.0,0.60

In [134]:
((jackie_robinson['h']) + (2 * jackie_robinson['h2b']) + (3 * jackie_robinson['h3b']) + (4 * jackie_robinson['hr'])) / (jackie_robinson['ab'])

33167    0.508475
dtype: float64

In [112]:
#use this to determine the earliest year sacrifice flies were recorded
#sf_recording_begins = batting_df[['yearid', 'sf']]
#sf_recording_begins = sf_recording_begins.dropna()
#sf_recording_begins.loc[(sf_recording_begins.sf >= 1)].sort_values(by = 'yearid')

In [103]:
#this is a good way to see 
#sf_recording_begins = batting_df.loc[(batting_df.sf > 0)]
#sf_recording_begins

In [9]:
mcgwire_salary = salaries_df[salaries_df['playerid'] == 'mcgwima01']

In [63]:
bonds_salary = salaries_df[salaries_df['playerid'] == 'bondsba01']

In [11]:
griffey_salary = salaries_df[salaries_df['playerid'] == 'griffke02']

In [12]:
nryan_salary = salaries_df[salaries_df['playerid'] == 'ryanno01']

In [13]:
#teams_df[teams_df['teamid'] == 'BSN']

In [14]:
#teams_df[teams_df['name'] == 'Chicago White Sox']

In [15]:
#homegames_df[homegames_df['year'] == 1918]

In [87]:
bk_dodgers_homegames = homegames_df[homegames_df['team'] == 'BRO']

In [126]:
jackie_robinson_id = people_df[people_df['playerid'] == 'robinja02']

In [138]:
bk_dodgers_teams = teams_df[(teams_df['teamid'] == 'BRO') & (teams_df['name'] == 'Brooklyn Dodgers')]

In [143]:
bk_dodgers_teams['lgwin'].value_counts()

N    21
Y     7
Name: lgwin, dtype: int64

In [144]:
bk_dodgers_teams['wswin'].value_counts()

N    27
Y     1
Name: wswin, dtype: int64

In [66]:
sf_giants_homegames = homegames_df[homegames_df['team'] == 'SFN']

In [67]:
sf_giants_homegames['attendance'].mean().round(2)

1895639.36

In [68]:
sf_giants_homegames['mean_diff'] = sf_giants_homegames['attendance'] - 1895639.36

<ipython-input-68-f96fa147afb2>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sf_giants_homegames['mean_diff'] = sf_giants_homegames['attendance'] - 1895639.36

In [72]:
np.sqrt((sf_giants_homegames['mean_diff']**2).mean()).round(2)

947710.38

In [80]:
sf_giants_homegames.head()

,year,league,team,park,span_first,span_last,games,openings,attendance,mean_diff
1463,1958,NL,SFN,SFO01,1958-04-15,1958-09-28,77,75,1272857,-622782.36
1479,1959,NL,SFN,SFO01,1959-04-14,1959-09-20,77,77,1421630,-474009.36
1495,1960,NL,SFN,SFO02,1960-04-12,1960-10-02,77,76,1796356,-99283.36
1513,1961,NL,SFN,SFO02,1961-04-11,1961-09-20,77,74,1391251,-504388.36
1533,1962,NL,SFN,SFO02,1962-04-10,1962-10-01,82,77,1590136,-305503.36

In [57]:
#np.sqrt((sf_giants_homegames['attendance']**2).mean())

---

In [89]:
lowest_attendance = homegames_df.groupby(['year', 'team'])['attendance'].min().to_frame()

## Clean up the connection!

In [23]:
#engine.dispose()