In [1]:
import os
import pandas as pd
from sqlalchemy import create_engine
import numpy as np

In [2]:
from dotenv import load_dotenv
load_dotenv()

True

In [3]:
username = os.getenv('POSTGRES_USERNAME')
password = os.getenv('POSTGRES_PASSWORD')


postgres_connection_string = "postgres://{username}:{password}@{host}:{port}/{database}?gssencmode=disable".format(
    username=username,
    password=password,
    host="localhost",
    port="5432",
    database="lahman_baseball"
)

In [4]:
engine = create_engine(postgres_connection_string)

In [5]:
people_sql = "SELECT * FROM people;"
salaries_sql = "SELECT * FROM salaries;"
homegames_sql = "SELECT * FROM homegames;"
parks_sql = "SELECT * FROM parks;"
teams_sql = "SELECT * FROM teams;"

In [6]:
people_df = pd.read_sql(people_sql, con=engine)
salaries_df = pd.read_sql(salaries_sql, con=engine)
homegames_df = pd.read_sql(homegames_sql, con=engine)
parks_df = pd.read_sql(parks_sql, con=engine)
teams_df = pd.read_sql(teams_sql, con=engine)

In [7]:
teams_df

,yearid,lgid,teamid,franchid,divid,rank,g,ghome,w,l,...,dp,fp,name,park,attendance,bpf,ppf,teamidbr,teamidlahman45,teamidretro
0,1871,NA,BS1,BNA,None,3,31,NaN,20,10,...,NaN,0.838,Boston Red Stockings,South End Grounds I,NaN,103,98,BOS,BS1,BS1
1,1871,NA,CH1,CNA,None,2,28,NaN,19,9,...,NaN,0.829,Chicago White Stockings,Union Base-Ball Grounds,NaN,104,102,CHI,CH1,CH1
2,1871,NA,CL1,CFC,None,8,29,NaN,10,19,...,NaN,0.814,Cleveland Forest Citys,National Association Grounds,NaN,96,100,CLE,CL1,CL1
3,1871,NA,FW1,KEK,None,7,19,NaN,7,12,...,NaN,0.803,Fort Wayne Kekiongas,Hamilton Field,NaN,101,107,KEK,FW1,FW1
4,1871,NA,NY2,NNA,None,5,33,NaN,16,17,...,NaN,0.839,New York Mutuals,Union Grounds (Brooklyn),NaN,90,88,NYU,NY2,NY2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2830,2016,NL,SLN,STL,C,2,162,81.0,86,76,...,169.0,0.983,St. Louis Cardinals,Busch Stadium III,3444490.0,100,99,STL,SLN,SLN
2831,2016,AL,TBA,TBD,E,5,162,81.0,68,94,...,129.0,0.984,Tampa Bay Rays,Tropicana Field,1286163.0,93,94,TBR,TBA,TBA
2832,2016,AL,TEX,TEX,W,1,162,81.0,95,67,...,190.0,0.984,Texas Rangers,Rangers Ballpark in Arlington,2710402.0,106,105,TEX,TEX,TEX
2833,2016,AL,TOR,TOR,E,2,162,81.0,89,73,...,144.0,0.986,Toronto Blue Jays,Rogers Centre,3392099.0,111,110,TOR,TOR,TOR
2834,2016,NL,WAS,WSN,E,1,162,81.0,95,67,...,142.0,0.988,Washington Nationals,Nationals Park,2481938.0,100,98,WSN,MON,WAS

In [7]:
salaries_df.loc[salaries_df['yearid'].idxmin()]

yearid           1985
teamid            ATL
lgid               NL
playerid    barkele01
salary         870000
Name: 0, dtype: object

In [128]:
#people_df[people_df['namelast'] == 'Ryan']

In [9]:
mcgwire_salary = salaries_df[salaries_df['playerid'] == 'mcgwima01']

In [10]:
bonds_salary = salaries_df[salaries_df['playerid'] == 'bondsba01']

In [11]:
griffey_salary = salaries_df[salaries_df['playerid'] == 'griffke02']

In [12]:
nryan_salary = salaries_df[salaries_df['playerid'] == 'ryanno01']

In [13]:
#teams_df[teams_df['teamid'] == 'BSN']

In [14]:
#teams_df[teams_df['name'] == 'Chicago White Sox']

In [15]:
#homegames_df[homegames_df['year'] == 1918]

---
### Let's look at our first example, Jackie Robinson

In [87]:
bk_dodgers_homegames = homegames_df[homegames_df['team'] == 'BRO']

In [126]:
jackie_robinson_id = people_df[people_df['playerid'] == 'robinja02']

In [138]:
bk_dodgers_teams = teams_df[(teams_df['teamid'] == 'BRO') & (teams_df['name'] == 'Brooklyn Dodgers')]

In [143]:
bk_dodgers_teams['lgwin'].value_counts()

N    21
Y     7
Name: lgwin, dtype: int64

In [144]:
bk_dodgers_teams['wswin'].value_counts()

N    27
Y     1
Name: wswin, dtype: int64

In [66]:
sf_giants_homegames = homegames_df[homegames_df['team'] == 'SFN']

In [67]:
sf_giants_homegames['attendance'].mean().round(2)

1895639.36

In [68]:
sf_giants_homegames['mean_diff'] = sf_giants_homegames['attendance'] - 1895639.36

<ipython-input-68-f96fa147afb2>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sf_giants_homegames['mean_diff'] = sf_giants_homegames['attendance'] - 1895639.36

In [72]:
np.sqrt((sf_giants_homegames['mean_diff']**2).mean()).round(2)

947710.38

In [80]:
sf_giants_homegames.head()

,year,league,team,park,span_first,span_last,games,openings,attendance,mean_diff
1463,1958,NL,SFN,SFO01,1958-04-15,1958-09-28,77,75,1272857,-622782.36
1479,1959,NL,SFN,SFO01,1959-04-14,1959-09-20,77,77,1421630,-474009.36
1495,1960,NL,SFN,SFO02,1960-04-12,1960-10-02,77,76,1796356,-99283.36
1513,1961,NL,SFN,SFO02,1961-04-11,1961-09-20,77,74,1391251,-504388.36
1533,1962,NL,SFN,SFO02,1962-04-10,1962-10-01,82,77,1590136,-305503.36

In [57]:
#np.sqrt((sf_giants_homegames['attendance']**2).mean())

## Clean up the connection!

In [23]:
#engine.dispose()